<!-- Footer - bloc-8 -->
<footer class="bloc bgc-atomic-tangerine d-bloc" id="bloc-8">
    <div class="container bloc-sm">
        <div class="row">
            <div class="col-xs-12">
                <p class="text-center white">
                    Agence La Panthère - Agence web basée à Lyon.<br>
                </p>
                <div class="row row-no-gutters social">
                    <div class="col-xs-3">
                        <div class="text-center">
                            <a class="social" href="https://twitter.com/?lang=fr" aria-label="twitter">
                                <span class="fa fa-twitter icon-md"></span></a>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="text-center">
                            <a class="social" href="https://fr-fr.facebook.com/" aria-label="facebook">
                                <span class="fa fa-facebook icon-md"></span></a>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="text-center">
                            <a class="social" href="https://dribbble.com/" aria-label="dribbble">
                                <span class="fa fa-dribbble icon-md"></span></a>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="text-center">
                            <a class="social" href="https://www.instagram.com/?hl=fr" aria-label="instagram">
                                <span class="fa fa-instagram icon-md"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer - bloc-8 END -->