<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Agence web à lyon, stratégie web, web design, illustrations, design de site web, site web, web, internet, site internet, site">
        <meta name="description" content="L'agence La panthère est une agence de web design qui aide les entreprises à devenir attractives et visible sur internet.">
        <title>La panthère - Agence de web design</title>
        <link rel="shortcut icon" type="image/jpg" href="favicon.jpg">

        <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="./css/et-line.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">

        <script src="./js/jquery-2.1.0.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
        <script src="./js/blocs.min.js"></script>

        {% block head %}{% endblock %}
    </head>
    <body>
        <body>
            <!-- Principal conteneur -->
            <div class="page-container">
                {% include "navigation.njk" %}
                {% block content %}{% endblock %}
            </div>
        </body>
    </body>
</html>